@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Antiquarian Scribe';
  font-weight: 400;
  src: url('/fonts/Antiquarian_Scribe_Regular.ttf') format('truetype');
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* cursor: url('../public/textures/cursor.svg'), auto; */
  font-family: 'Inter', sans-serif;
}

#app {
  width: inherit;
  height: inherit;
}
