@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap');

:root {
  --percent: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Antiquarian Scribe';
  font-weight: 400;
  src: url('/fonts/Antiquarian_Scribe_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geo Graphic Ahand';
  font-weight: 400;
  src: url('/fonts/Geo_Graphic_Ahand.otf') format('opentype');
}

.iteractions-disabled {
  pointer-events: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* cursor: url('../public/textures/cursor.svg'), auto; */
  font-family: 'Inter', sans-serif;
}

#app {
  width: inherit;
  height: inherit;
}

#particles {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 999999;
}