* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* canvas {
  cursor: grab;
}

canvas:target {
  cursor: grabbing;
} */

body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: url('../public/textures/cursor.svg'), auto;
}

#app {
  width: inherit;
  height: inherit;
}
